<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="CLOUDWATCH" class="com.example.appenders.CloudWatchAppender">
        <logGroupName>test-log-group</logGroupName>
        <logStreamPrefix>test-log-stream</logStreamPrefix>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>
    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="CLOUDWATCH" />
    </root>
</configuration>